<div id="root"></div>
<table class="table">
  <tr>
    <th>Track</th>
    <th>Location</th>
    <th>Composer</th>
  </tr>
  <tr>
    <td>Symphony 5</td>
    <td>Germany</td>
    <td>Beethoven</td>
  </tr>
</table>
