@import './variables';

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.btn-default {
  background: $medium-blue;
  color: $white;
}

/* Custom default button */
.btn-default:hover,
.btn-default:focus {
  background: $dark-blue;
  color: white;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  text-align: center;
}

.list-group-item {
  padding: 2px;
  background: #29648A;
  color: white;
  font-size: 6px;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.row-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  @include asul-light;
  cursor: pointer;
  &:focus {
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  &:active {
    border: 1px solid red;
    outline: 0;
  }
}
