$font-loud: 'Quintessential';
@mixin font-thin {
  font-family: 'Heebo';
  font-weight: 100;
  font-size: 10px;
}

@mixin font-thin-md {
  font-family: 'Heebo';
  font-weight: 200;
  font-size: 12px;
}

@mixin hover-icon {
  color: grey;
  &:hover {
    color: white;
    transition: ease-in 200ms;
  }
}

$dark-blue: #25274D;
$dark-grey: #464866;
$light-grey: #AAABB8;
$sky-blue: #2E9CCA;
$slate-blue: #29648A;
$orange: #ffa942;

$transparent-black: rgba(0, 0, 0, 0.6);
