// $font-loud: 'Quintessential';
// @mixin font-thin {
//   font-family: 'Antic';
//   font-weight: 100;
//   font-size: 10px;
// }
//
@mixin font-thin-md {
  font-family: 'Heebo';
  font-weight: 200;
  font-size: 12px;
}

@mixin font-plain {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

@mixin hover-icon {
  color: grey;
  &:hover {
    color: white;
    transition: ease-in 200ms;
  }
}
@mixin asul-light {
  font-family: 'Asul';
  font-weight: 100;
}
@mixin font-loud {
  font-family: 'Asul';
  font-weight: bold;
  text-transform: uppercase;
}

@mixin font-strong {
  font-family: 'Heebo';
  font-weight: bold;
}

@mixin font-thin {
  font-family: 'Heebo';
  font-weight: 100;
}

$red: #AA0055;
$medium-grey: #999;
$dark-grey: #464866;
$light-grey: #cacaca;
$sky-blue: #2E9CCA;
$slate-blue: #29648A;
$orange: #ffd800;
$medium-green: #20de00;
$dark-green: #106f00;
$light-red: #ff8a8a;
$blue: #007bff;
$medium-blue: #0055b1;
$dark-blue: #030080;
$transparent-black: rgba(0, 0, 0, 0.6);
$white: white;
