@import '../base/variables';

.homepage {
  background: url('pov.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  color: $sky-blue;

  a {
    font-size: 10px;
  }

  ul {
    list-style-type: none;
  }

  .content {
    height: 80vh;
  }
  .content-area {
    border: 1px solid $dark-grey;
  }

  .category-header {
    font-family: $font-loud;
    font-size: 13px;
    color: $orange;
  }

  .menu-list-item {
    background: none;
    border-radius: 0;
    &:hover {
      background: white;
    }
  }

  .playlist-list-item {
    color: $white;
    background: $dark-grey;
    font-size: 10px;
    &:hover {
      background: $slate-blue;
      color: white;
    }
  }

  .track-list {
    text-align: left;
    th {
      &:nth-of-type(1) {
        border: 2px solid red;
        width: 10%;
      }
      &:nth-of-type(2) {
        border: 2px solid red;
        width: 70%;
      }
      &:nth-of-type(3) {
        width: 20%;
      }
    }
  }

  .track-list-item {
    background: none;
    i {
      visibility: hidden;
      &:hover {
        visibility: visible;
      }
    }
  }
}
