@import '../base/variables';

.homepage {
  background: url('music.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  color: white;

  a {
    font-size: 10px;
  }

  ul {
    list-style-type: none;
  }

  .content {
    height: 80vh;
  }
  .content-area {
    // border: 1px solid $dark-grey;
  }

  .category-header {
    @include font-thin;
    font-size: 10px;
    color: white;
  }

  .menu-list-item {
    background: none;
    border-radius: 0;
    border: none;
    &:hover {
      background: white;
    }
    &:first-of-type {
      margin-top: 10px;
    }
    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  .track-list-wrapper {
    height: 50vh;
    overflow: auto;
    margin-bottom: 20px;
  }

  .track-list {
    text-align: left;
    font-size: 0.6rem;

    th {
      @include font-thin;
    }
    th {
      &:nth-of-type(1) {
        width: 10%;
      }
      &:nth-of-type(2) {
        width: 70%;
      }
      &:nth-of-type(3) {
        width: 20%;
      }
    }
    tr {
      height: 10px;
    }
  }

  .track-list-item {
    background: none;
    i {
      visibility: hidden;
      &:hover {
        visibility: visible;
      }
    }
  }

  .new-playlist-box {

  }

  .track-list-row {
    &:hover {
      background: none;
    }
  }
}

.main-content {
  overflow: hidden;
}
