i.fa-minus-circle {
  color: grey;
  &:hover {
    color: red;
  }
}

i.fa-plus-circle {
  color: grey;
  &:hover {
    color: $medium-green;
  }
}

i.fa-play-circle {
  color: $blue;
  &:hover {
    color: $medium-blue;
  }
}
