@import 'base/variables';

.modal {
  color: black;
  width: 500px;
  height: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -300px;
}

.modal-title {
  font-family: $font-loud;
}
