@import 'base/variables';

.modal {
  color: black;
  width: 500px;
  height: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -300px;
}

.modal-title {
  @include font-loud;
}

.modal-header {
  background: $dark-blue;
  color: white;
  border: 1px solid white;
}

.modal-header .close span {
  color: white;
}

.modal label {
  font-size: 12px;
}
