.player-container {
  background: black;
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100vw;
}

.player-left-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 150px;

  img {
    width: 74px;
    height: 74px;
    border: 1px solid white;
  }

  .track-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;

    div {
      &:first-of-type {
        @include font-thin;
        font-size: 11px;
      }
      &:last-of-type {
        font-size: 8px;
      }
    }
  }
}

.player-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar {
  height: 2px;
  div {
    height: 100%;
  }
  display: flex;
  flex-direction: row;
}

.timestamps-container {
  font-family: 'Heebo';
  font-weight: 200;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.player-controls-container {
  i {
    cursor: pointer;
    @include hover-icon;
    margin: 0 10px 5px 10px;
  }

  i:nth-of-type(2) {
    color: $light-grey;
    &:hover {
      color: white;
    }
  }
}

.player-right-container {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.progress-bar-unplayed {
  background-color: $blue;
}

.progress-bar-played {
  background-color: white;
}

.volume-control {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  i {
    margin-left: 10px;
  }

}
