.player-container {
  background: black;
  height: 15vh;
}

.player-left-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  img {
    width: 75px;
    height: 75px;
    border: 1px solid white;
  }

  .track-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;

    div {
      &:first-of-type {
        @include font-thin;
      }
      &:last-of-type {
        font-size: 8px;
      }
    }
  }
}

.player-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar {
  height: 2px;
  div {
    height: 100%;
  }
  display: flex;
  flex-direction: row;
}

.timestamps-container {
  @include font-thin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.player-controls-container {
  i {
    @include hover-icon;
    margin: 0 10px 5px 10px;
  }
}

.player-right-container {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.progress-bar-unplayed {
  background-color: $blue;
}

.progress-bar-played {
  background-color: white;
}
