.playlist-detail-header-wrapper {
  margin-bottom: 10px;
  img {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
  }
  .info-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

}

.playlist-detail-title {
  font-size: 1.75rem;
  text-align: left;
}

.playlist-detail-user {
  font-size: 0.75rem;
}

.playlist-create-container {
  margin-top: 10px;
}

.playlist-create-container button {
  background: white;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  &:hover {
    background: black;
    color: white;
    border: 1px solid white;
  }
}
