@import '../base/variables';

.table-hover {
  width: 100%;
  border-collapse: collapse;

  th {
    background: black;
    &:hover {
      background: black;
    }
  }
  tr {
    background: black;
    &:hover {
      background: white;
    }
  }
}

.table {
  margin-bottom: 0;
}
