.user-detail-header-container {
  @include font-plain;
  font-weight: 100;

  img {
    margin-left: 15px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
  }

  .btn-follow, .btn-unfollow {
    margin-bottom: 15px;
    width: 100px;
    height: 25px;
    text-align: center;
    padding: 1px;
    cursor: pointer;
    font-size: 10px;
    @include chivo-light-upcase;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .user-detail .category-header {
    font-size: 12px;
    margin-bottom: -10px;
  }

  .user-detail-username {
    font-size: 1.75rem;
    text-align: left;
  }

  .user-detail-playlist-info {
    font-size: 0.75rem;
  }
}

  .user-detail-playlist-list-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .card {
      width: 150px;
      height: 175px;
      background: black;
      color: white;
      font-size: 10px;
      margin: 15px 30px;
      background: none;
      border: none;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 7px;
      cursor: pointer;
    }
    img {
      width: 130px;
      height: 130px;
      -webkit-box-shadow: -7px -5px 19px -2px rgba(0,0,0,0.75);
      -moz-box-shadow: -7px -5px 19px -2px rgba(0,0,0,0.75);
      box-shadow: -7px -5px 19px -2px rgba(0,0,0,0.75);
    }
  .playlist-title {
    width: 150px;
    text-overflow: ellipsis;
    @include heebo-bold;
  }
  .playlist-length {
    @include heebo-normal;
  }
}

.user-detail-playlist-list-container {
  position: fixed;
  bottom: 90px;
  left: 160px;
  height: calc(100vh - 310px);
  width: 72%;
  @media (min-width: 768px) {
    width: 68.6666666667%;
  }
  border-top: 1px solid black;
  background: $transparent-white;
}
